html:not([data-scroll="0"]) .header {
  height: 3em;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
}

html:not([data-scroll="0"]) .header:focus-within {
  height: 6em;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
}

html:not([data-scroll="0"]) .header:focus-within > .header__overlay {
  opacity: 1;
  height: 100vh;
}

html:not([data-scroll="0"])
  .header:not(:focus-within)
  > .header__center
  > .header__center-options
  > .headerOption.selected {
  border-bottom: 0px solid;
}

html:not([data-scroll="0"])
  .header:not(:focus-within)
  > .header__center
  > .header__center-options {
  transform: scale(0);
}
